h1, h2, h3, h4, h5, h6, a, p, span{
    font-family: 'Montserrat', sans-serif;
}
.header{
    padding-top: 2rem;
}
.main__task-type{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}
.main__item-input{
    padding-bottom: 1rem;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.footer{
    padding-bottom: 2rem;
}
.button-select{
    padding-bottom: 0.5rem;
}